@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    margin: 0 auto;
    overflow-x: hidden;
    /* Pour enlever le blanc en trop
     des cercles*/
}

header{
    display: grid;
    grid-template-columns: 107px 819px 180px;
    grid-row: 1fr;
    max-width: 1106px;
    max-height: 96px;
    background-color: #fff;
    padding: 22px 0px 21px 0px;
    margin: 0 auto;

}

header .header_logo{
 grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 12px;
}

header nav{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding-left: 58px;
    padding-top: 14px;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
    gap: 32px;
}

nav a{
    text-decoration: none;
    color: #939CAA;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
        color: #FCB72B;
}

.button{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #FCB72B; /* Add a border of the same color as the background */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.button:hover {
    background-color: #FFF; /* Change the background color to white on hover */
    color: #FCB72B; /* Change the text color to #FCB72B on hover */
    border: 3px solid #FCB72B; /* Keep the border color as #FCB72B on hover */
}

.header-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}


main{

}

main::before {
    content: "";
    position: absolute;
    top: 1350px; /* Adjust this value */
    left: 1424px; /* Adjust this value */
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(90deg, #E5ECF4 50%, transparent 50%);
}

main section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1640px;
    height: 650px;
    gap: 0px;
    background-size: 150%;
    background-position: left bottom;
    background-repeat: no-repeat;
    max-width: 100%;
    background-image: url('scootbackground.png');
    position: relative;
}

main section::before {
    content: "";
    position: absolute;
    top: 2470px; /* Adjust this value */
    left: 1424px; /* Adjust this value */
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(90deg, #E5ECF4 50%, transparent 50%);
}

main section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F3B59;
    opacity: 0.75;
}

section h1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 500px;
    height: 112px;
    font-family: "Space Mono", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    text-align: left;
    color: #FFFFFF;
    z-index: 2;
    margin-top: 153px;
    margin-left: 165px;
}

.arrow {
    content: "";
    position: absolute;
    top: 350px;
    left: 0px; /* Adjust this value as needed */
    width: 203px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow2 {
    position: absolute;
    top: 350px;
    left: 705px;
    width: 350px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow2::after {
    content: "";
    position: absolute;
    right: -15px; /* Position the tip at the end of the arrow */
    top: 0px; /* Center the tip vertically */
    width: 0;
    height: 0;
    border-left: 15px solid #fcb72b;
    border-top: 7.5px solid transparent; /* Half of the height */
    border-bottom: 7.5px solid transparent; /* Half of the height */
}

.arrow3 {
    position: absolute;
    top: 357px;
    left: 1055px;
    width: 15px;
    height: 94px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow3::after {
    content: "";
    position: absolute;
    right: 0px; /* Position the tip at the end of the arrow */
    top: 94px; /* Center the tip vertically */
    width: 0;
    height: 0;
    border-top: 15px solid #fcb72b;
    border-left: 7.5px solid transparent; /* Half of the width */
    border-right: 7.5px solid transparent; /* Half of the width */
    z-index: 2;
}

.arrow4 {
    content: "";
    position: absolute;
    top: 451px;
    left: 1062px;
    width: 200px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.arrow5 {
    content: "";
    position: absolute;
    top: 425px;
    left: 1197px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(45deg);
}

.arrow6 {
    content: "";
    position: absolute;
    top: 478px;
    left: 1197px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(-45deg);
}

.circle {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 425px;
    left: 1415px;
    border: 3px solid #ffffff;
    border-radius: 50%; /* This makes the element circular */
    opacity: 1; /* Change this to the desired opacity */
    z-index: 2;
}

.circle2 {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 425px;
    left: 1501px;
    border: 3px solid #ffffff;
    border-radius: 50%; /* This makes the element circular */
    opacity: 1; /* Change this to the desired opacity */
    z-index: 2;
}

.circlefull {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 425px;
    left: 1587px;
    border: 35px solid #ffffff;
    border-radius: 50%; /* This makes the element circular */
    opacity: 1; /* Change this to the desired opacity */
    z-index: 2;
}

.arrow7 {
    position: absolute;
    top: 1687px;
    left: 955px;
    width: 15px;
    height: 94px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow8 {
    position: absolute;
    top: 1687px;
    left: 965px;
    width: 640px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow9 {
    content: "";
    position: absolute;
    top: 1766px;
    left: 766px;
    width: 200px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.arrow10 {
    content: "";
    position: absolute;
    top: 1792px;
    left: 762px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(45deg);
}

.arrow11 {
    content: "";
    position: absolute;
    top: 1739px;
    left: 762px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(-45deg);
}

.arrow12 {
    content: "";
    position: absolute;
    top: 2071px;
    left: 250px;
    width: 210px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.arrow13 {
    content: "";
    position: absolute;
    top: 1966px;
    left: 248px;
    width: 15px;
    height: 120px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow14 {
    content: "";
    position: absolute;
    top: 1966px;
    left: 0px;
    width: 250px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.arrow16 {
    content: "";
    position: absolute;
    top: 2045px;
    left: 395px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(45deg);
}

.arrow17 {
    content: "";
    position: absolute;
    top: 2098px;
    left: 395px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(-45deg);
}

.arrow18 {
    content: "";
    position: absolute;
    top: 2671px;
    left: 1350px;
    width: 300px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.arrow19 {
    content: "";
    position: absolute;
    top: 2671px;
    left: 1350px;
    width: 15px;
    height: 94px;
    background-color: #fcb72b;
    z-index: 2;
}

.arrow20 {
    content: "";
    position: absolute;
    top: 2750px;
    left: 1200px;
    width: 150px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.arrow21 {
    content: "";
    position: absolute;
    top: 2723px;
    left: 1196px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(-45deg);
}

.arrow22 {
    content: "";
    position: absolute;
    top: 2777px;
    left: 1196px;
    width: 70px;
    height: 15px;
    background-color: #fcb72b;
    z-index: 2;
    transform: rotate(45deg);
}

section .button{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 260px;
    z-index: 2;
    border: 3px solid #FCB72B; /* Add a border of the same color as the background */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.button:hover {
    background-color: transparent; /* Change the background color to white on hover */
    color: #FCB72B; /* Change the text color to #FCB72B on hover */
    border: 3px solid #FCB72B; /* Keep the border color as #FCB72B on hover */
}

main section p{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 405px;
    height: 100px;
    font-family: "Lexend Deca", serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    z-index: 2;
    margin-top: 40px;
    margin-left: 260px;
}

.roadmap{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: left;
    max-width: 1106px;
    height: 291px;
    margin: 160px auto;
}

.roadmap .roadmap_blockA{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 0px;
    width: 350px;
    height: 300px;
    background-size: cover;
    background-image: url('images/79.png');
}

.roadmap .roadmap_blockB{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
    gap: 0px;
    width: 350px;
    height: 300px;
    background-size: cover;
    background-image: url('images/79.png');
}

.roadmap .roadmap_blockC{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3/4;
    grid-row: 1/2;
    gap: 0px;
    width: 350px;
    height: 300px;
    background-size: cover;
    background-image: url('images/79.png');
}

.roadmap .roadmap_icon{
    grid-row: 1/2;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url('images/80.png');
    background-color: #fcb72b;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    }

.roadmap hs3{
    font-family: "Space Mono", serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: -1.0714285373687744px;
text-align: left;
    color: #495567;
}

p{
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

.roadmap::before {
    content: "";
    position: absolute;
    top: 47px;
    left: -260px; /* Adjust this value as needed */
    width: 1054px;
    height: 15px;
    background-color: #E5ECF4;
    z-index: -1; /* This ensures the line is behind all other content */
}

.round-image {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    object-fit: cover;
}

article{
    display: grid;
    grid-template-columns: 445px 220px 445px;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1619px;
    height: 445px;
    gap: 0px;
    opacity: 0px;
    max-width: 1106px;
    margin: 0 auto;
    margin-bottom: 160px;
}

article::before {
    content: "";
    position: absolute;
    top: 1970px; /* Adjust this value */
    left: -280px; /* Adjust this value */
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(-90deg, #E5ECF4 50%, transparent 50%);
}

.article_title{
    font-family: "Space Mono";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    color: #495567;
    grid-column: 1/2;
    grid-row: 1/2;
}

article p{
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

article .button{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

aside{
    width: 445px;
    height: 445px;
    grid-column: 3/4;
    grid-row: 1/4;
    position: relative;
}

.article_title2{
    font-family: "Space Mono";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    color: #495567;
    grid-column: 3/4;
    grid-row: 1/2;
}

article .button2{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #FCB72B; /* Add a border of the same color as the background */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.button2:hover {
    background-color: #FFF; /* Change the background color to white on hover */
    color: #FCB72B; /* Change the text color to #FCB72B on hover */
    border: 3px solid #FCB72B; /* Keep the border color as #FCB72B on hover */
}

.para{
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

.round-image2{
    grid-column: 1/2    ;
    grid-row: 1/4;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    object-fit: cover;
}