@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    margin: 0 auto;
    overflow-x: hidden;
    /* Pour enlever le blanc en trop
     des cercles*/
}

header{
    display: grid;
    grid-template-columns: 107px 819px 180px;
    grid-row: 1fr;
    max-width: 1106px;
    max-height: 96px;
    background-color: #fff;
    padding: 22px 0px 21px 0px;
    margin: 0 auto;

}

header .header_logo{
 grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 12px;
}

header nav{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding-left: 58px;
    padding-top: 14px;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
    gap: 32px;
}

nav a{
    text-decoration: none;
    color: #939CAA;
}

.button{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.header-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

main{

}

main::before {
    content: "";
    position: absolute;
    top: 1350px; /* Adjust this value */
    left: 1424px; /* Adjust this value */
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(90deg, #E5ECF4 50%, transparent 50%);
}

main section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1640px;
    height: 650px;
    gap: 0px;
    background-size: 150%;
    background-position: left bottom;
    background-repeat: no-repeat;
    max-width: 100%;
    background-image: url('scootbackground.png');
    position: relative;
}

main section::before {
    content: "";
    position: absolute;
    top: 2470px; /* Adjust this value */
    left: 1424px; /* Adjust this value */
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(90deg, #E5ECF4 50%, transparent 50%);
}

main section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2F3B59;
    opacity: 0.75;
}

section h1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 500px;
    height: 112px;
    font-family: "Space Mono", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    text-align: left;
    color: #FFFFFF;
    z-index: 2;
    margin-top: 153px;
    margin-left: 165px;
}

section h1::before {

}

section .button{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 260px;
    z-index: 2;
}

main section p{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 405px;
    height: 100px;
    font-family: "Lexend Deca", serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    z-index: 2;
    margin-top: 40px;
    margin-left: 260px;
}

.roadmap{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: left;
    max-width: 1106px;
    height: 291px;
    margin: 160px auto;
}

.roadmap .roadmap_blockA{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 0px;
    width: 350px;
    height: 300px;
    background-size: cover;
    background-image: url('images/79.png');
}

.roadmap .roadmap_blockB{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
    gap: 0px;
    width: 350px;
    height: 300px;
    background-size: cover;
    background-image: url('images/79.png');
}

.roadmap .roadmap_blockC{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3/4;
    grid-row: 1/2;
    gap: 0px;
    width: 350px;
    height: 300px;
    background-size: cover;
    background-image: url('images/79.png');
}

.roadmap .roadmap_icon{
    grid-row: 1/2;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url('images/80.png');
    background-color: #fcb72b;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    }

.roadmap hs3{
    font-family: "Space Mono", serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: -1.0714285373687744px;
text-align: left;
    color: #495567;
}

p{
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

.roadmap::before {
    content: "";
    position: absolute;
    top: 47px;
    left: -260px; /* Adjust this value as needed */
    width: 1054px;
    height: 15px;
    background-color: #E5ECF4;
    z-index: -1; /* This ensures the line is behind all other content */
}

.round-image {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    object-fit: cover;
}

article{
    display: grid;
    grid-template-columns: 445px 220px 445px;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1619px;
    height: 445px;
    gap: 0px;
    opacity: 0px;
    max-width: 1106px;
    margin: 0 auto;
    margin-bottom: 160px;
}

article::before {
    content: "";
    position: absolute;
    top: 1970px; /* Adjust this value */
    left: -280px; /* Adjust this value */
    width: 445px;
    height: 445px;
    background-color: #E5ECF4;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(-90deg, #E5ECF4 50%, transparent 50%);
}

.article_title{
    font-family: "Space Mono";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    color: #495567;
    grid-column: 1/2;
    grid-row: 1/2;
}

article p{
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

article .button{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono", serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

aside{
    width: 445px;
    height: 445px;
    grid-column: 3/4;
    grid-row: 1/4;
    position: relative;
}

.article_title2{
    font-family: "Space Mono";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    letter-spacing: -2.142857074737549px;
    text-align: left;
    color: #495567;
    grid-column: 3/4;
    grid-row: 1/2;
}

article .button2{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.para{
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
}

.round-image2{
    grid-column: 1/2    ;
    grid-row: 1/4;
    width: 445px;
    height: 445px;
    border-radius: 50%;
    object-fit: cover;
}