$yellow:#FCB72B;
$darknavy: #495567;
$dimgrey: #939CAA;
$lightgrey: #E5ECF4;
$snow: #E5ECF4;
$lightyellow: #FFF4DF;

$h1-font-size: 56px;
$h1-line-height: 56px;
$h1-character-spacing: -2.5;
$h1-font-family: 'Space Mono';


$h2-font-size: 48px;
$h2-line-height: 48px;
$h2-character-spacing: -2.14;
$h2-font-family: 'Space Mono';


$h3-font-size: 40px;
$h3-line-height: 48px;
$h3-character-spacing: -1.79;
$h3-font-family: 'Space Mono';


$h4-font-size: 24px;
$h4-line-height: 28px;
$h4-character-spacing: -1.07;
$h4-font-family: 'Space Mono';

//Body 1: Lexend Deca Regular: 15px : 25px Line

$body1-font-size: 15px;
$body1-line-height: 25px;
$body1-character-spacing: 0.5;
$body1-font-family: 'Lexend Deca';

