@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    max-width: 1440px;
}


/* SCSS FOR ABOUT PAGE */


@media (max-width: 1440px) and (min-width: 768px) {





/***********************/
/*        HEADER       */
/***********************/


header{
    display: grid;
    grid-template-columns: 107px 819px 180px;
    grid-row: 1fr;
    max-width: 1106px;
    max-height: 96px;
    background-color: #fff;
    padding: 22px 0px 21px 0px;
    margin: 0 auto;

}

header .header_logo{
 grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 12px;
}

header nav{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding-left: 58px;
    padding-top: 14px;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #939CAA;
    gap: 32px;
}

nav a{
    text-decoration: none;
    color: #939CAA;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
        color: #FCB72B;
}

.button{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 180px;
    height: 53px;
    top: 22px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB72B;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #FCB72B; /* Add a border of the same color as the background */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.button:hover {
    background-color: #FFF; /* Change the background color to white on hover */
    color: #FCB72B; /* Change the text color to #FCB72B on hover */
    border: 3px solid #FCB72B; /* Keep the border color as #FCB72B on hover */
}

.header-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.burger-nav {
    display: none;
}









/***********************/
/*        BANNER       */
/***********************/

html {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 1440px;
        height: 200px;
    }
}

.banner_tablet {
    img {
        display: none;
    }
}

.banner_mobile {
    img {
        display: none;
    }
}

/***********************/
/*   PREMIERE PARTIE   */
/***********************/




.first_part {
    display: flex;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.first_part_texte {

    margin-left: 165px;
    margin-top: 210px;

    h1 {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -2.14px;
        width: 445px;
        height: 96px;
        color: #495567;
        line-height: 48px;
        
    }

    p {
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        color: #939CAA;
        width: 445px;
        height: 75px;
        line-height: 25px;

    }
}


.first_part_image {

    img {
        margin-top: 120px;
        margin-left: 12.9%;
        width: 735px;
    }
}

.second_part {
    display: flex;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

    img {
        height: 445px;
        width: 610px;
    }
}

.second_part_text {

    margin-left: 220px;
    margin-top: 120px;

    h1 {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 48px;
        letter-spacing: -2.14px;
        width: 445px;
        height: 96px;
        color: #495567;
        line-height: 48px;
    }

    p {
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        color: #939CAA;
        width: 445px;
        height: 75px;
        line-height: 25px;

    }
}


/*******************************/
/*       DEUXIEME PARTIE       */
/*******************************/



.two_parts {




    h1 {
        text-align: center;
        margin-top: 120px;
        margin-bottom: 48px;
        font-family: "Space Mono";
        font-weight: 700;
        size: 48px;
        line-height: 48px;
        letter-spacing: -2.14px;
        color: #495567;
    }
    

    
}

.two_parts_img {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-areas: "a1 a2 a3";
}

.grid_img {
    display: grid;
    width: 1110px;
    
}

.a1 {
    grid-area: a1;
    width: 350px;
    height: 350px;
    margin-right: 30px;
    margin-left: 165px;
}

.a2 {
    grid-area: a2;
    width: 350px;
    height: 350px;
    margin-right: 30px;
}

.a3 {
    grid-area: a3;
    width: 350px;
    height: 350px;
    margin-right: 165px;
}

.two_parts_text {
    display: grid;
    grid-template-areas: "b1 b2 b3";

    h1 {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07px;
        color: #495567;
    }
}

.b1 {
    grid-area: b1;
    margin-left: 165px;
    text-align: center;
    width: 350px;
    margin-top: 32px;
}

.b2 {
    grid-area: b2;
    margin-left: 30px;
    text-align: center;
    width: 350px;
    margin-top: 32px;
}

.b3 {
    grid-area: b3;
    margin-right: 165px;
    margin-left: 30px;
    text-align: center;
    width: 350px;
    margin-top: 32px;
}

.two_parts_text_2 {
    display: grid;
    grid-template-areas: "c1 c2 c3";

    p {
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #939CAA;
    }
}

.c1 {
    grid-area: c1;
    width: 350px;
    margin-left: 165px;
    margin-right: 30px;
}
.c2 {
    grid-area: c2;
    width: 350px;
    margin-right: 30px;
}
.c3 {
    grid-area: c3;
    width: 350px;
    margin-right: 165px;
}

.item {
    display: none;
}

/***********************/
/*   TROISIEME PARTIE  */
/***********************/

.faq {
    text-align: center;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: #495567;
    margin-top: 120px;
}



.flex {
    display: flex; /* Establishes a flex container */
    align-items: flex-start; /* Aligns children at the start of the cross axis */
    flex-flow: column wrap;
    justify-content: flex-start; /* Aligns children at the start of the main axis */
    gap: 20px; /* Optional: adds space between the flex items */
    float: right;
    margin-top: 64px;
    height: 407px;
  }

.flex_two {
    display: flex; /* Establishes a flex container */
    align-items: flex-start; /* Aligns children at the start of the cross axis */
    flex-flow: column wrap;
    justify-content: flex-start; /* Aligns children at the start of the main axis */
    gap: 20px; /* Optional: adds space between the flex items */
    float: right;
    margin-top: -120px;
}
  

  #title_part_three {
    width: 350px; /* You can adjust the width as needed */
    display: inline-flex;
    margin-top: 423px;
    margin-left: 165px;

    h1 {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.79px;
        color: #495567;
    }
  }




  .third_part_title {
    width: 350px; /* You can adjust the width as needed */
    display: inline-flex;
    margin-top: 145px;
    margin-left: 165px;
    transform: translateY(-75px); 

    h1 {
        margin: 0;
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.79px;
        color: #495567;

    }
    /* display: block; is not needed, flex item is a block-level flex container */
  }
  
  .box_questions {
    width: 730px; /* You can adjust the width as needed */
    margin-right: 165px;
    background-color: #F2F5F9;

    &:hover {
        background-color: #FFF4DF;
    }
    
    /* display: block; is not needed, flex item is a block-level flex container */
  }


.questions {
    cursor: pointer;
    h2 {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07px;
        color: #495567;
        width: 650px;
        height: 28px;
        margin-left: 40px;
        margin-right: 40px;
    }
  }
  
  .questions .arrow {
    float: right; 
  }
  
  .answers {
    display: none; 
    p {
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #495567;
        margin-right: 40px;
        margin-left: 40px;
        width: 650px;
        height: 75px;
        }
  }

.arrow {
    color: #FCB72B;
}
  
/****************************/
/*      BANNER FOOTER       */
/****************************/  

.banner_footer {

    img {
        margin-top: 160px;
        height: 300px;
        margin-bottom: -5px;
    }
}

.banner_footer_tablet {
    display: none;
}


/********************************/
/*           FOOTER             */
/********************************/

footer {
    background-color: #333A44; // Background color of the footer
    padding: 1rem 0; // Add padding for top and bottom
    color: white; // Text color
  
    .footer_box {
      display: flex;
      justify-content: space-between; // Space out the content
      align-items: center; // Vertically center the content
      max-width: 1200px; // Max width of the footer content
      margin: 0 auto; // Center the footer content
      padding: 0 2rem; // Add horizontal padding
  
      .flex_content_one {
        display: flex;
        align-items: center; // Align logo and navigation items vertically
  
        .scoot_logo {
          // Logo size will be defined by the image itself
          margin-right: 3rem; // Spacing between logo and nav items
        }
  
        .flex_nav ul {
          list-style: none; // Remove bullet points
          display: flex;
          gap: 2rem; // Spacing between navigation items
  
          li {
            a {
              color: #939CAA; // Text color for nav items
              text-decoration: none; // Remove underline from links
              font-family: "Space Mono";
              font-weight: 700;
              font-size: 15px;
              line-height: 25px;
  
              &:hover {
                color: #FCB72B;
              }
            }
          }
        }
      }
  
      .flex_content_two {
        display: flex;
        gap: 1rem; // Spacing between social media icons
  
        img {
          width: 24px;
          height: 24px;

        }
      }
    }
  }

  .icon {
    transition: fill 0.3s; // Smooth transition for fill change
  }
  
  .icon:hover {
    filter: brightness(0) saturate(100%) invert(100%);
  }
  
}
 
  /***********************/
  /*   TABLET VERSION    */
  /***********************/

  
  @media (max-width: 768px) and (min-width: 375px) {
    
    * {
        max-width: 768px;
    }


    /***********************/
    /*       HEADER        */
    /***********************/






    header {
        width: 768px;
        display: flex;



        ul {
            margin: 0;
            padding: 0;
            width: auto; 
            list-style-type: none;
            max-width: 768px;
            display: flex;
            margin-left: 58.18px;
            
            li {
                padding: 0;
                margin: 0;
            }
        }
    }



    .header_logo  {
        img {
            width: 107.82px;
            height: 28.56px;
            margin-left: 39px;
            margin-bottom:33.44px ;
        }
    }

    
    /***********************/
    /*       BANNER        */
    /***********************/
    
    
    .banner img {
      display: none;
    }
  
    .banner_tablet img {
      display: block;
    }

    /**************************/
    /*    PREMIERE PARTIE     */
    /**************************/


    .first_part {
        display: flex;
        flex-direction: column-reverse;
    }

    .first_part_image {
        img {
            width: 604px;
            float: right;
        }
    }

    .second_part {
        display: flex;
        flex-direction: column;
    }


    /**************************/
    /**   DEUXIEME PARTIE    **/
    /**************************/

    .two_parts_img {
        display: none;
    }

    .two_parts_text {
        display: none;
    }

    .two_parts_text_2 {
        display: none;
    }

    .grid_tablet {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start; // Cela alignera les éléments en haut pour les grands écrans
        height: 100vh; // Cela prend la hauteur entière de l'écran
        margin-right: auto;
        margin-left: auto;
        margin-top: -80px; // Ajustez cette valeur en fonction de la hauteur de votre nav ou en-tête
      }
    
      .item {
        width: 33.333%; // Divise l'espace horizontalement en trois pour les enfants
        margin-bottom: 0; // Pas d'espacement entre les éléments en vue ligne
        align-items: center; // Centre les éléments de .item sur l'axe horizontal
        justify-content: center; // Centre les éléments de .item sur l'axe vertical
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        // Ajoutez des styles supplémentaires pour la taille des images et le texte ici
      }

      /*********************************/
      /**     TROISIEME PARTIE        **/
      /*********************************/

      .faq {
        h1 {
          margin-top: 800px; // Ajoute de l'espace au-dessus du titre de la FAQ
          text-align: center; // Centre le titre si nécessaire
          display: block;
        }
      }
    
      .third_part_title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px; // Ajoute de l'espace entre le titre de la FAQ et le titre "How it works"
        h1 {
          text-align: center; // Centre le titre "How it works"
        }
      }
    
      .flex {
        display: flex;
        flex-direction: column;
        align-items: center; // Centre les boîtes de questions sur la page
        width: 100%; // Utilise toute la largeur disponible
      }
    
      .box_questions {
        width: 689px; // Utilise toute la largeur disponible pour les boîtes de questions
        max-width: 689px; // Fixe une largeur maximale pour les boîtes de questions
        margin-bottom: 30px; // Ajoute de l'espace entre chaque boîte de question
    
        .questions h2 {
          font-size: 1.25rem; // Ajuste la taille de la police pour les titres de questions
          cursor: pointer; // Change le curseur pour indiquer que les titres sont interactifs
        }
    
        .answers {
          padding: 15px 0; // Ajoute du padding au-dessus et en dessous de la réponse
          border-top: 1px solid #ccc; // Ajoute une bordure en haut pour séparer de la question
          display: none; // Cache la réponse par défaut (peut être modifié avec JavaScript)
        }
      }

      #title_part_three {
        display: block;

        h1 {
            margin-top: 900px;
        }
        
      }

      .flex_two {
        margin-top: 50px;
      }

      /**************************/
      /*    BANNER FOOTER       */
      /**************************/

      .banner_footer {
        display: none;
      }



      .banner_footer_tablet {

        display: block;
        margin-bottom: -5px;
}

  }


  /*************************/
  /*    MOBILE VERSION     */
  /*************************/


  @media (max-width: 375px) {

     
    * {
        max-width: 375px;
        overflow-x: clip;
    }

   
    

    
    


    /**********************/
    /*       HEADER       */
    /**********************/

    header {
        display: none;
    }

    .burger-nav {
        display: block;
    }

    /*********************/
    /*   BANNER HEADER   */
    /*********************/

    .banner_tablet {
        img {
            display: none;
        }
    }

    .banner_mobile {
        img {
            display: block;
            margin-bottom: 72px;
        }
    }

    /*******************************/
    /*       PREMIERE PARTIE       */
    /*******************************/



    .first_part_image {
        width: 363.97px;
        img {
            position: absolute;
            right: 0;
        }
    }

    .first_part_texte {
         
        margin: 0;
        
        h1 {
            width: 311px;
            height: 64px;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            text-align: center;
            margin-left: 32px;
            margin-right: 32px;
            margin-top: 300px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            color: #495567;
        }

        p {
            width: 311px;
            height: 100px;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 120px;
            margin-left: 32px;
            margin-right: 32px;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }

    .second_part_img {
        img {
            width: 311px;
        }
    }

    .second_part_text {

        h1 {
            width: 311px;
            height: 64px;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            text-align: center;
            margin-left: 32px;
            margin-right: 32px;
            margin-top: 56px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            color: #495567;
        }

        p {
            width: 311px;
            height: 100px;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            margin-bottom: 120px;
            margin-left: 32px;
            margin-right: 32px;
            font-family: "Lexend Deca";
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }

    /*************************/
    /**   DEUXIEME PARTIE   **/
    /*************************/

      .two_parts {
        h1 {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 120px;
            font-family: "Space Mono";
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.43px;
            color: #495567;
        }
      }  
  }

